@model IEnumerable<Movies.Domain.Movie>

@{
    ViewBag.Title = "Index";
}

<h5>@DateTime.Now.ToLongTimeString()</h5>

<h2 id="viewHeader">Index</h2>

@using(Ajax.BeginForm(
    new AjaxOptions
        {
            HttpMethod="GET", 
            InsertionMode=InsertionMode.Replace, 
            UpdateTargetId="movieTable"
        }))
{
    <input type="search" name="searchTerm" 
           data-autocomplete="@Url.Action("SearchAutoComplete")" />
    <input type="submit" name="Search"/>
}

@Html.Partial("_MovieTable", Model)

@section scripts
{
    <script>

        $(function() {

            var input = $("input[name='searchTerm']");
            var url = input.attr("data-autocomplete");
            input.autocomplete({
                source: url
            });
        });


        $(function() {

            $("tr:odd").css("background-color", "#ddddFF");

            $("#viewHeader").text("Movie List");


            $("table").on("click", "td", function() {
                $(this).fadeOut().fadeIn();
            });

        });

    </script>
}
