@section scripts{    
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Client/Scripts/AtTheMovies.js"></script>
    <script src="~/Client/Scripts/MovieService.js"></script>
    <script src="~/Client/Scripts/ListController.js"></script>
    <script src="~/Client/Scripts/DetailsController.js"></script>
    <script src="~/Client/Scripts/EditController.js"></script>
}

<div ng-app="AtTheMovies">

    <ng-view></ng-view>

</div>