@page
@model Simple.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>Hello, from Razor Pages!</div>
<div>

    @(await Html.RenderComponentAsync<BlazorComponents.Greetings>(RenderMode.ServerPrerendered))

</div>
<script src="/_framework/blazor.server.js"></script>