@page
@model Simple.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>Hello, from Razor Pages!</div>
<div>

    @(await Html.RenderComponentAsync<BlazorComponents.Greetings>(RenderMode.ServerPrerendered))
    <img src="_content/BlazorComponents/background.png" />
</div>


<script src="/_framework/blazor.server.js"></script>