*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.resharper
resharper.settings.xml
*.user
[Bb]uild*
[Dd]ist
junit-report
junit
ProfilerMessage.java
0
*.g.csproj
temp-war-deps
/.gitversion.tmp
/.gitversion.short.tmp
*.vspscc
*.bak
*.scc
*.xap
MSSCCPRJ.SCC
DebugLog.*
*.orig
*.log
log.txt
*.docstates
*.mp4
*.mp3
*.mov
.idea
.DS_Store
