@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>@Html.ActionLink("Go to cars", "Index", "Car")</p>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
