@using  CoreMovies.Entities

@model Movie

<div class="card">
    <div class="card-heading">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <div>@Model.Year</div>
    </div>
    <div class="card-footer">
        <a asp-page="./Detail" asp-route-id="@Model.Id">
            Details
        </a>
    </div>
</div>