
    @page "{id}"
    @model CoreMovies.Web.Pages.Movies.DetailModel
    @{
        ViewData["Title"] = "Detail";
    }

    <h2>@Model.Movie.Name</h2>
    <div>Made in @Model.Movie.Year</div>

    <a asp-page="./List">List</a>

