@page
@model CoreMovies.Web.Pages.Movies.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Movies</h2>

@*<table class="table">
    @foreach(var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Name</td>
            <td>@movie.Year</td>
            <td>
                <span>
                    <a asp-page="./Detail" asp-route-id="@movie.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </span>
            </td>
        </tr>
    }
</table>*@

@foreach(var movie in Model.Movies)
{
    <partial name="_MovieSummary" model="movie" />
}