<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>c:\temp\movies\moviesdebug.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/movies</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=.;Initial Catalog=moviesdebug;Integrated Security=True" Name="data source=.;initial catalog=moviesdebug;integrated security=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Movies.Infrastructure.MovieData, Movies" MigrationConfiguration="Movies.Migrations.Configuration, Movies" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=.;initial catalog=moviesdebug;integrated security=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>