@page "{id}"
@model CoreMovies.Web.Pages.Movies.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete @Model.Movie.Name</h2>
<form method="post">
    <button class="alert alert-danger">Yes!</button>
</form>

