<!DOCTYPE html>
<html>
<head>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <title>Hello, Angular!</title>
</head>
<body class="container">

    <div class="row" ng-controller="MovieListController">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movies">
                        <td>{{movie.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <button class="btn" ng-click="refresh()">Refresh</button>
            <pre>
                {{ services | json }}
            </pre>
        </div>        
    </div>
    
    <script src="scripts/angular.js"></script>
    <script src="movieApp/app.js"></script>
    <script src="movieApp/controllers/movieListController.js"></script>
    <script src="movieApp/services/movieService.js"></script>
</body>
</html>




