body 
{
	background-color: #cccc99;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,153) 97%);
	background-image: -o-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,153) 97%);
	background-image: -moz-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,153) 97%);
	background-image: -webkit-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,153) 97%);
	background-image: -ms-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,153) 97%);
	padding-top: 10px;
	font-size: 28px;	
}

section  {
	position: absolute;
	width: 960px;
	height: 600px;
	margin-left: -480px;
	left: 50%;	
	opacity: 0;
	z-index: 0;
	-moz-transition: opacity 400ms linear 0s;
    -webkit-transition: opacity 400ms linear 0s;
    -ms-transition: opacity 400ms linear 0s;    
}
section.current {	
	opacity: 1;
	z-index: 10;
}

pre {
	font-size: 20px;
	font-family: monospace;	
}

footer 
{
	position: absolute;
	bottom: 0px;
	right: 0px;		
	text-align: right;	
	color: white;
	background-color: #330000;	
	padding: 5px;
	font-size: 12px;
}

li {
	line-height: 40px;
	color: black;
}

.center {
	text-align: center;
}
