@model Microsoft.AspNetCore.Mvc.ApplicationModels.PageRouteMetadata

<table class="table">
    <tr>
        <td>Template</td>
        <td>@Model.RouteTemplate</td>
    </tr>
    <tr>
        <td>Page Route</td>
        <td>@Model.PageRoute</td>
    </tr>
</table>