@model Microsoft.AspNetCore.Razor.Hosting.RazorSourceChecksumAttribute

<table class="table">
    <tr>
        <td>Algorithm</td>
        <td>@Model.ChecksumAlgorithm</td>
    </tr>
    <tr>
        <td>Checksum</td>
        <td>@Model.Checksum</td>
    </tr>
</table>
