@model Movies.Models.Movie

<h3>@Model.Title</h3>
<hr />
<div>    
    <span class="display-label">Release: </span>
    <span class="display-value">
      @Html.DisplayFor(m => m.ReleaseDate)
    </span>    
</div>
<div>
    <span class="display-label">Rating:</span>
    <span class="display-value">
      @Html.DisplayFor(m => m.AverageReview) 
    </span>    
</div>
